﻿@using Microsoft.AspNetCore.Identity
@using MyMovies.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("admin"))
    {
        <li class="@(pageName == "AdminMovies" ? "active" : "")"><a asp-area="" asp-controller="AdminMovies" asp-action="Index">Edit Movies</a></li>
        <li class="@(pageName == "AdminGenres" ? "active" : "")"><a asp-area="" asp-controller="AdminGenres" asp-action="Index">Edit Genres</a></li>
        <li class="@(pageName == "AdminPeople" ? "active" : "")"><a asp-area="" asp-controller="AdminPeople" asp-action="Index">People</a></li>

    }
}