﻿@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/c3/c3.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin="" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/c3/c3.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin="" />
    </environment>
<link href="https://fonts.googleapis.com/css?family=Alef|Arimo" rel="stylesheet"></head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand custom-brand">MyMovies</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav custom-navbar-items">
                    <li class="@(pageName == "Movies" ? "active" : "")"><a asp-area="" asp-controller="Movies" asp-action="Index">Movies</a></li>
                    <!-- <li class="@(pageName == "Genres" ? "active" : "")"><a asp-area="" asp-controller="Genres" asp-action="Index">Genres</a></li> -->
                    <!-- <li class="@(pageName == "Actors" ? "active" : "")"><a asp-area="" asp-controller="Actors" asp-action="Index">Actors</a></li> -->
                    <li class="@(pageName == "UserFavoriteMovies" ? "active" : "")"><a asp-area="" asp-controller="UserFavoriteMovies" asp-action="Index">Favorite</a></li>
                    <li class="@(pageName == "UserWatchLists" ? "active" : "")"><a asp-area="" asp-controller="UserWatchLists" asp-action="Index">WatchList</a></li>
                    <li class="@(pageName == "Statistics" ? "active" : "")"><a asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                    <li class="@(pageName == "Home" ? "active" : "")"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    @await Html.PartialAsync("_AdminPartial")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <a asp-action="About" asp-controller="Home">About</a>
            <p>&copy; 2019 - MyMovies</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/c3/c3.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGPR9zuD59BFjuD9S2cKc4v1vJhE8exGo&callback=initMap"
    async defer></script> -->
        @if (!String.IsNullOrEmpty(pageName))
        {
            <script src="~/js/@(pageName).js"></script>
        }
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/c3/c3.min.js"></script>
        @if (!String.IsNullOrEmpty(pageName))
        {
            <script src="~/js/@(pageName).js"></script>
        }
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
