@using Microsoft.AspNetCore.Identity
@using MyMovies.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Hello @UserManager.GetUserName(User)!
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Manage" asp-action="Index">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.forms[0].submit()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
