﻿@model MyMovies.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoteAverage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoteAverage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImdbId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImdbId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
