﻿@model IEnumerable<MyMovies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

@functions{
    public int next()
    {
        if (Model.Count() >= 3)
        {
            return ViewBag.currentPage + 1;
        }
        else
        {
            return ViewBag.currentPage;
        }

    }
    public int prev()
    {
        if (ViewBag.currentPage > 1)
        {
            return ViewBag.currentPage - 1;
        }
        else
        {
            return ViewBag.currentPage;
        }
    }
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row pagination">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index", new { page = prev() })" class="btn btn-default">
            <i class="glyphicon glyphicon-menu-left"></i>
            prev
        </a>
        <a href="@Url.Action("Index", new {page = next()})" class="btn btn-default">
            next
            <i class="glyphicon glyphicon-menu-right"></i>
        </a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trailer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteAverage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImdbId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
