﻿@model IEnumerable<MyMovies.Models.UserWatchList>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    @if (Model.Count() == 0)
    {
        <h3>You Watch List is empty</h3>

    }
    else
    {
        @foreach (var item in Model)
        {
            <div id="watch-list-movie-@item.MovieId" class="col-md-3">
                <div class="card">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                        <section class="movie_image">
                            <img class="movie_poster" src="@Html.DisplayFor(modelItem => item.Movie.ImagePath)" alt="As Above So Below" />
                        </section>
                    </a>
                    <section class="center">
                        <div class="about_movie">
                            <h3>@Html.DisplayFor(modelItem => item.Movie.Title)</h3>
                            <div class="movie_info">
                                <p>@Html.DisplayFor(modelItem => item.Movie.ReleaseYear)</p>
                                <p>
                                    <!-- @Html.DisplayFor(modelItem => item.Movie.MovieLength) -->

                                </p>
                                @foreach (var Genre in item.Movie.Genres)
                                {
                                    <p>@Html.DisplayFor(modelItem => Genre.Genre.Name) </p>

                                }

                            </div>
                            <div class="movie_desc">
                                <p class="block-with-text">@Html.DisplayFor(modelItem => item.Movie.Description)</p>
                            </div>
                            <div class="button-group">
                                <button type="button" class="remove-watch-list-btn btn btn-info" data-id="@item.MovieId">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Remove from watchlist
                                </button>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
            <!--
                @Html.DisplayFor(modelItem => item.Movie.Id)

                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
        }
    }
    <div class="bg">
        <img src="" alt="background">
    </div>
</div>

<br />
<br />
<br />


<h1 class="flex-center">סרטים מומלצים</h1>

<div class="row">

    @foreach (var item in (ViewBag.Recommendations as List<Movie>))
    {
        <div id="watch-list-movie-@item.Id" class="col-md-3">
            <div class="card">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                    <section class="movie_image">
                        <img class="movie_poster" src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="As Above So Below" />
                    </section>
                </a>
                <section class="center">
                    <div class="about_movie">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <div class="movie_info">
                            <p>@Html.DisplayFor(modelItem => item.ReleaseYear)</p>
                            <p>
                                <!-- @Html.DisplayFor(modelItem => item.MovieLength) -->

                            </p>
                            @foreach (var Genre in item.Genres)
                            {
                                <p>@Html.DisplayFor(modelItem => Genre.Genre.Name) </p>

                            }

                        </div>
                        <div class="movie_desc">
                            <p class="block-with-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="button-group">
                            <button type="button" class="add-watch-list-btn btn btn-info" data-id="@item.Id">
                                <span class="glyphicon glyphicon-remove"></span>
                                Add to watchlist
                            </button>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    }
</div>

