﻿@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<canvas id="canvas-clock" width="100" height="100"></canvas>

<!-- <h3>@ViewData["Message"]</h3> -->
<hr/>
<h3 class="h3-header video-btn" data-toggle="modal" data-src="https://www.w3schools.com/html/mov_bbb.mp4" data-target="#myModal">Our Office</h3>
<div id="mapid"></div>

<!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>        
                    <video class="video-frame" controls>
                        <source id="video-src" src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"> 
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
            </div>
        </div>