﻿@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron main-jumbo">
    <h1>My Movies</h1>
    <p>Simple application for managing your movies list.
    Filter movies by name and genre, add movies to your watch list and more!
    </p>
    <p><a class="btn btn-primary btn-lg" role="button" asp-action="Index" asp-controller="Movies">Start Now!</a></p>
</div>