﻿@model IEnumerable<MyMovies.Models.UserFavoriteMovies>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>




<div class="row">
    @if (Model.Count() == 0)
    {
        <h3>You Watch List is empty</h3>

    }
    else
    {
        @foreach (var item in Model)
        {
            <div id="favorite-movie-@item.MovieId" class="col-md-3">
                <div class="card">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                        <section class="movie_image">
                            <img class="movie_poster" src="@Html.DisplayFor(modelItem => item.Movie.ImagePath)" alt="As Above So Below" />
                        </section>
                    </a>
                    <section class="center">
                        <div class="about_movie">
                            <h3>@Html.DisplayFor(modelItem => item.Movie.Title)</h3>
                            <div class="movie_info">
                                <p>@Html.DisplayFor(modelItem => item.Movie.ReleaseYear)</p>
                                <p>
                                    <!-- @Html.DisplayFor(modelItem => item.Movie.MovieLength) -->

                                </p>
                                @foreach (var Genre in item.Movie.Genres)
                                {
                                    <p>@Html.DisplayFor(modelItem => Genre.Genre.Name) </p>

                                }

                            </div>
                            <div class="movie_desc">
                                <p class="block-with-text">@Html.DisplayFor(modelItem => item.Movie.Description)</p>
                            </div>
                            <div class="button-group">
                                <button type="button" class="remove-favorite-btn btn" data-id="@item.MovieId">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <!-- Remove from favorite -->
                                </button>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
            <!--
                @Html.DisplayFor(modelItem => item.Movie.Id)

                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
        }
    }
    <div class="bg">
        <img src="" alt="background">
    </div>
</div>