﻿@model MyMovies.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
 <hr />
<div class="wrapper">
	<div class="main_card">
		<div class="card_left">
			<div class="card_datails">
				<h1>@Html.DisplayFor(model => model.Title)</h1>
				<div class="card_cat">
					<p class="year">@Html.DisplayFor(model => model.ReleaseYear)</p>
					<p class="genre">
                        @foreach (var Genre in Model.Genres)
                            {
                                <p class="PG">@Html.DisplayFor(model => Genre.Genre.Name) </p>
                            }
                    </p>
					<p class="time">@Html.DisplayFor(model => model.MovieLength)</p>
				</div>
				<p class="disc">@Html.DisplayFor(model => model.Description)</p>
			<div class="social-btn">
                <button type="button" class="btn btn-default video-btn" data-trailer-id="@Model.Trailer" data-toggle="modal" data-src="https://www.youtube.com/embed/@Model.Trailer" data-target="#Modal">
                     <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> See Trailer
                </button>
                <button type="button" class="@(ViewBag.isInWatchList ? "btn btn-default remove-watch-list-btn" : "btn btn-default add-watch-list-btn")" data-id="@Model.Id">
                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      @(ViewBag.isInWatchList ? "Add to " : "Remove from ")Watch List
                </button>
                <button type="button" class="@(ViewBag.isFavoriteMovie ? "btn btn-default remove-favorite-btn" : "btn btn-default add-favorite-btn")" data-id="@Model.Id">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite
                </button>
                <button type="button" class="btn btn-default send-twit" data-name="@Model.Title">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> @(float.Parse(Model.VoteAverage) * 10)%
                </button>
			</div>	
			</div>
		</div>
		<div class="card_right">
			<div class="img_container">
				<img src="@Html.DisplayFor(model => model.ImagePath)" alt="">
				</div>
			</div>
		</div>
	</div>
<div>
    <!-- <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | -->
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
            <!-- <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allowfullscreen></iframe> -->
            <iframe class="embed-responsive-item" src="" id="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div> 