﻿@model IEnumerable<MyMovies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-md-2">
        <h3>Filter movies</h3>
        <!-- Filter by genre -->
        <div style="min-height:50px; display:block">
            <h5 class="pull-left">Choose genre:</h5>
            <a href="" onclick="clearGenreFilter()">
                <h6 class="pull-right" style="line-height:16px">clear</h6>
            </a>
        </div>
        <ul id="genre-filter" style="list-style-type: none"></ul>
        <!-- Filter by language -->
        <div style="min-height:50px; display:block">
            <h5 class="pull-left">Choose language:</h5>
            <a href="" onclick="clearLanguageFilter()">
                <h6 class="pull-right" style="line-height:16px">clear</h6>
            </a>
        </div>
        <ul id="lang-filter" style="list-style-type: none"></ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <form id="filter-form">
                <div class="col-md-6">
                    <div class="input-group">
                        <input id="search-input" type="text" class="form-control" name="SearchString" placeholder="Filter by name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                            <a id="clear-filter-btn" class="btn btn-default" href="">Clear</a>
                        </span>
                    </div>
                </div>
            </form>
            <div class="btn-group col-md-4 col-md-offset-2" role="group" aria-label="...">
                    <a href="" class="prev-page btn btn-default disabled">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        prev
                    </a>
                    <a href="" class="next-page btn btn-default">
                        next
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </a>
                </div>
        </div>
        <div id="movies" class="row"></div>
        <div class="row pagination">
                <div class="btn-group" role="group">
                    <a href="" class="prev-page btn btn-default disabled">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        prev
                    </a>
                    <a href="" class="next-page btn btn-default">
                        next
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </a>
                </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var isRendering = false
        var activeRenderRequests = []
        var pageData = {
            movies: [],
            genreList: [],
            langList: [],
            search: '',
            genres: [],
            page: 1,
            langs: []
        }

        function makeAjax(url, body) {
            return new Promise(function(resolve, reject) {
                $.ajax({
                    url: url,
                    body: body,
                    success: resolve,
                    error: function(xhr, status, error) {
                        $('#movies').html('<h1>קרתה שגיאה!</h1>')
                        reject(error)
                    }
                })
            })
        }

        function renderMovies() {
            $('#movies').html('<h1>טוען סרטים...</h1>')
            var genres = !pageData.genres.length
                ? null
                : pageData.genres.join('&genres=')
            var langs = !pageData.langs.length
                ? null
                : pageData.langs.join('&langs=')
            makeAjax(`/Movies/List?search=${pageData.search}&genres=${genres}&langs=${langs}&page=${pageData.page}`, {})
                .then(function(moviesStr) {
                    var movies = JSON.parse(moviesStr)
                    pageData.movies = movies
                    var moviesDiv = $('#movies')

                    if (!Array.isArray(movies) || !movies.length) {
                        moviesDiv.html('<h3>no results</h3>')
                    } else {
                        moviesDiv.html(`
                            ${movies.map(function(movie) {
                                return `
                                    <div class="col-md-3">
                                        <div class="card">
                                            <a href="/Movies/Details/${movie.Id}">
                                                <section class="movie_image">
                                                    <img class="movie_poster" src="${movie.ImagePath}" alt="As Above So Below" />
                                                </section>
                                            </a>
                                            <section class="center">
                                                <div class="about_movie">
                                                    <h3>${movie.Title}</h3>
                                                    <div class="movie_info">
                                                        <p>2014</p>
                                                        <p>1h 33min</p>
                                                        ${movie.Genres && movie.Genres.map(function(genre) {
                                                            return `<p>${genre}</p>`
                                                        })}
                                                    </div>
                                                    <div class="movie_desc video-btn" data-toggle="modal" data-src="https://www.w3schools.com/html/mov_bbb.mp4" data-target="#myModal"> 
                                                        <p class="block-with-text">${movie.Description}</p>
                                                    </div>
                                                    <div class="movies-button-group">
                                                        <!-- <p data-id="${movie.Id}" class="add-favorite-btn">
                                                            <span class="glyphicon glyphicon-star-empty"></span>
                                                        </p> -->
                                                        <button data-id="${movie.Id}" type="button" class="${movie.IsInFavorites ? "remove-favorite-btn btn col-md-3" : "add-favorite-btn btn col-md-3"}">
                                                            <span class="${movie.IsInFavorites ? "glyphicon glyphicon-star" : "glyphicon glyphicon-star-empty"}"></span>
                                                        </button>
                                                        <button data-id="${movie.Id}" type="button" class="${movie.IsInWatchList ? "remove-watch-list-btn btn col-md-8": "add-watch-list-btn btn col-md-8"}">
                                                                ${watchList.indexOf(movie.Id) !== -1 ? "Remove from " : "Add to "}Watch list
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div> 
                                `
                            }).join('')}
                        `)
                    }
                })
            }

        function setPreviousPage() {
            if (pageData.page > 0) {
                pageData.page -= 1
            }
            if (pageData.page <= 1) {
                $('.prev-page').addClass('disabled')
            }
        }

        function setNextPage() {
            pageData.page += 1
            $('.prev-page').removeClass('disabled')
        }

        function genreChange(domElement) {
            var el = $(domElement)
            if (domElement.checked) {
                pageData.genres.push(el.val())
            } else {
                var start = pageData.genres.indexOf(el.val())
                pageData.genres.splice(start, 1)
            }
            renderMovies()
        }

        function langChange(domElement) {
            var el = $(domElement)
            if (domElement.checked) {
                pageData.langs.push(el.val())
            } else {
                var start = pageData.langs.indexOf(el.val())
                pageData.langs.splice(start, 1)
            }
            renderMovies()
        }

        function clearGenreFilter() {
            pageData.genres = []
            renderMovies()
        }

        function clearLanguageFilter() {
            pageData.langs = []
            renderMovies()
        }

        $(document).ready(function() {
            renderMovies()
            makeAjax('/Movies/Genres', {}).then(function(genresStr) {
                var genres = JSON.parse(genresStr)
                pageData.genreList = genres

                $('#genre-filter').html(pageData.genreList.map(function(genre) {
                        return `
                            <li>
                                <label>
                                    <input type="checkbox" onchange="genreChange(this)" value=${genre.Value} ${pageData.genres.indexOf(genre.Value) !== -1 ? 'checked' : ''} />
                                    ${genre.Text}
                                </label>
                            </li>
                        `
                    })
                )
            })
            makeAjax('/Movies/Languages', {}).then(function(languagesStr) {
                if (typeof(languagesStr) === 'string') {
                    var languages = JSON.parse(languagesStr)
                } else {
                    var languages = languagesStrs
                }
                pageData.langList = languages

                $('#lang-filter').html(pageData.langList.map(function(lang) {
                        console.log(lang)
                        return `
                            <li>
                                <label>
                                    <input type="checkbox" onchange="langChange(this)" value=${lang} ${pageData.langs.indexOf(lang) !== -1 ? 'checked' : ''} />
                                    ${lang}
                                </label>
                            </li>
                        `
                    })
                )
            })

            $('.prev-page').on('click', function(e) {
                e.preventDefault()
                setPreviousPage()
                renderMovies()
            })
            $('.next-page').on('click', function(e) {
                e.preventDefault()
                setNextPage()
                renderMovies()
            })
            $('#search-input').val(pageData.search)
            $('#clear-filter-btn').on('click', function(e) {
                e.preventDefault()
                pageData.search = ''
                pageData.page = 1
                $('#search-input').val('')
                renderMovies()
            })
            $('#filter-form').on('submit', function(e) {
                e.preventDefault()
                pageData.search = $('#search-input').val()
                renderMovies()
            })
        })
    </script>
}