﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background: white;
    font-family: 'Arimo', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-jumbo {
    background-color: transparent;
    padding-left: 0;
    width: 70%;
}

.custom-brand {
    color: white !important;
    font-size: 1.5em;
}

.custom-navbar-items {
    font-size: 1.2em;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.card {
    font-family: 'Arimo', sans-serif;
    /* font-family: 'Alef', sans-serif; */
    background-repeat: no-repeat;
    background-size: cover;
    /*display: flex;*/
    width: auto;
    height: 275px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    height: 580px;
    margin-top: 30px;
    box-shadow: 4px 4px 10px rgba(121, 121, 121, 0.20);
    /* wawy svg */
    transition: all 200ms ease-in;
    transform: scale(1);
    cursor: pointer;
    border: solid 0.5px gainsboro;
}

.card-main{
    height: 510px !important;
}
.card:hover {
    /* transform: scale(1.05);*/
}

.card a {
    text-decoration: none;
}

.card .movie_image {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 99;
    display: flex;
    flex-basis: auto;
    margin: 0 auto;
    height: 100%;
    padding: 0px 0px 10px 0;
    /*argin-bottom: 25px;*/
    overflow: hidden;
}

.card .movie_image .movie_poster {
    width: 100%;
    height: 100%;
    margin: auto;
}

.card .center {
    display: flex;
    align-items: center;
    vertical-align: center;
    position: relative;
    /*z-index: 99;*/
    padding: 0px 0px 10px 0px;
}

.card .about_movie {
    flex-basis: 100%;
    padding: 0px 10px;
    position: relative;
    /*z-index: 99;
    align-items: center;
    text-align: center;*/
}

.card .about_movie h3 {
    color: black;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    height: 30px;
}

.card .about_movie .movie_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*justify-content: space-between;*/
    font-size: 11px;
    height:10px;
}

    .card .about_movie .movie_desc {
        text-align: right;
        font-size: 13px;
        margin-top: 25px;
        margin-bottom: 20px;
        position: relative;
        z-index: 99;
    }

.card .watch {
    position: relative;
    z-index: 99;
    background: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s;
}

.card .watch:hover {
    background: rgba(1, 0, 0, .3);
}

.card .watch svg {
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    fill: rgba(0, 0, 0, 1);
}

.card .watchlist {
    position: relative;
    z-index: 99;
    background: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s;
}

.card .watchlist:hover {
     background: rgba(1, 0, 0, .3);
}

.card .watchlist svg {
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    fill: rgba(0, 0, 0, 1);
}
/* background */
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    filter: blur(10px);
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/*body {
    margin: 0;
    padding: 50px;
    font: 400 14px/1.2em sans-serif;
    background: white;
}*/

.button-group {
    display: flex;
    justify-content: center;
}

.movies-button-group {
    display: flex;
    justify-content: space-around;
}

.add-favorite-btn, .remove-favorite-btn {
    background-color: white;
}

.add-watch-list-btn, .remove-watch-list-btn {
    font-size: 10px;
}

.remove-favorite-btn > span {
    color: rgb(247, 247, 65);
}

.video-frame{
    width: 100%;
    height: 100%;
}

.modal-body {
    position:relative;
    padding:3px 3px 0px 3px;
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

/* styles for '...' */
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    /*text-align: justify;
    
    margin-left: -1em;
    padding-left: 1em;*/
}

.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    left: 0;
    bottom: 0;
}

.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    left: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    background: white;
    margin-top: 0.2em;
}


/**/ 
.main_card {
    text-align: right;
	color: #fff;
	width: 65vw;
	max-width: 65vw;
	height: 500px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #b9b9b9; 
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 90%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: -webkit-fill-available;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color: white;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.PG {
	color:grey;
	background: white;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
	        box-shadow: 0 0 50px rgba(0,0,0,0.1);
	-webkit-transition: 300ms ease-in-out;
}

.disc {
	font-weight: 100;
    line-height: 27px;
    height: 230px;
}
.social-btn {
	margin-left: -10px;
}
.main_card button {
	color: gray;
	border: none;
	padding: 15px;
	outline: none;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 10px;
	background: white;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

.main_card button:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

#mapid { 
    height: 580px; 
}
.h3-header{
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}
#canvas-clock{
    position: absolute;
    right: 0%;
    top: 10%;
}